<app-navprivate></app-navprivate>
<br>
<div class=" mar  pad ">

  <div class="chart-wrapper pos2 ">
    <h1>{{'app.List of Users' | translate}}</h1>
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
    <h1>{{'app.List of Employers' | translate}}</h1>


    <canvas baseChart
            [datasets]="ChartData"
            [colors]="ChartColors"
            [labels]="ChartLabels"

            [options]="ChartOptions"

            [plugins]="ChartPlugins"

            [legend]="ChartLegend"

            [chartType]="ChartType">


    </canvas>
    <h1>{{'app.Mail statistics' | translate}}</h1>

    <canvas baseChart
            [datasets]="ChartData2"
            [colors]="ChartColors"
            [labels]="ChartLabels"

            [options]="ChartOptions"

            [plugins]="ChartPlugins"

            [legend]="ChartLegend"

            [chartType]="ChartType">


    </canvas>

  </div>
</div>


<router-outlet></router-outlet>
