<app-navprivate></app-navprivate>
<ngx-ui-loader></ngx-ui-loader>

<div class="mar pad "> 
    <div class="card card-frame ">
        <div class="card-body bor">
         <h1 class="text-center">Email Detaille</h1>
         <h3>Email</h3>
       
         <h4>{{email}}</h4>
        
         <h3>Send To </h3>
       
         <h4>{{emailsendto}}</h4>

         <h3>Description</h3>
        
         <h4>{{desc}}</h4>
 
         <h3>Objet</h3>
       
         <h4>{{Objet}}</h4>

         <h3>Date</h3>
   
         <h4>{{date  | date:'yyyy-MM-dd'}}</h4>

 
         <h3>Time</h3>
       
         <h4>{{time}}</h4>

     

        </div>
       
      </div>
</div>