<div class="main-content back" >
    <!-- Header -->
    <div class="header back  py-lg-9 pt-lg-7">
      <div class="container">
        <div class="header-body text-center mb-7">
      
        </div>
      </div>
     
    </div>
    <!-- Page content -->
    <div class="container back mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-10">
          <div class="card bg-secondary border-0 mb-0">
            <div class="card-header bg-transparent pb-5">
              <div class="text-muted text-center mt-2 mb-3"><small>Confirme Email</small></div>
           
            </div>
            <div class="card-body px-lg-6 py-lg-6">
              
              <form role="form"   >
                <div class="form-group mb-3  ">
                 
                    
                    <h1 class="form-control text-blue" >Votre Email A Confirmer</h1>
               
                  <h1 class="form-control bg-blue text-white text-center" routerLink="/" >Login</h1>

                </div>
              
               
               
              </form>
            </div>
          </div>
          
          
           
          </div>
          
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </div>
    </div>
 