
 
 <app-navprivate></app-navprivate>
 <ngx-ui-loader></ngx-ui-loader>
 <br>
 
 <div class="mar pad ">
   
    <div class="chat2  cdf bg-gradient-info">
       
      <div class="head-text  bg-gradient-info">
Let's chat? - Online</div>
<div class="chat-box">
  <div  class="container ">
  <div class="mesgs">
    <div class="msg_history">
      <li class="message" >
        <div
      
        ></div>
        <ng-template #incoming_msg>
          <div class="incoming_msg">
            <div class="incoming_msg_img">
              <img
                src="https://i.imgur.com/k2PZLZa.png"
                alt="User avatar"
              />
            </div>
            <div class="received_msg">
              <div class="received_withd_msg">
                <p>qqqqqq</p>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template #outgoing_msg>
          <div class="outgoing_msg">
            <div class="sent_msg">
              <small class="smallcolor"> </small>
              <p>hello</p>
              

            </div>
          </div>
        </ng-template>
      </li>
    </div>
 
  </div>
           <div class="type_msg">
              <form class="input_msg_write" name="form" #f="ngForm"  >
                <input
                  type="text"   
                  class=" text-white "
                  placeholder="Type a message" name="newMessage"
                 
                />
                <button class="msg_send_btn" type="submit">
                  <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                </button>
              </form>
            </div>
</div>
</div>
</div>
 </div>
 

