 
  
 
#click{
  display: none;
}
label{
  position: fixed;
  right: 30px;
  bottom: 20px;z-index: 1;
  height: 55px;
  width: 55px;
  background: -webkit-linear-gradient(left, #1bc7b0, #1bc7b0);
  text-align: center;
  line-height: 55px;
  border-radius: 50px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}
 
 
 
 
.wrapper{
  position: fixed;z-index: 1;
  right: 30px;
  bottom: 0px;
  height: 400px;
  max-width: 400px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
#click:checked ~ .wrapper{
  opacity: 1;
  bottom: 85px;
  pointer-events: auto;
}
.head-text{
  line-height: 60px;
  color: #fff;
  border-radius: 15px 15px 0 0;
  padding: 0 20px;
  font-weight: 500;
  font-size: 20px;
  background: -webkit-linear-gradient(left, #1bc7b0, #1bc7b0);
}
 .chat2{
 
  width: 1100px;
  height: 80vh;
 

}
.chat-box .desc-text{
  color: #515365;
  text-align: center;
  line-height: 25px;
  font-size: 17px;
  font-weight: 500;
}
 
.chat-box form .field{
  height: 100px;
  width: 20%;
  margin-top: 20px;
}
.chat-box form .field:last-child{
  margin-bottom: 15px;
}
 
form .field input:focus,
form .textarea textarea:focus{
  border-color: bg-gradient-info;
}
form .field input::placeholder,
form .textarea textarea::placeholder{
  color: silver;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder,
form .textarea textarea:focus::placeholder{
  color: lightgrey;
}
.chat-box form .textarea{
  height: 250px;
  width: 100%;
}
.chat-box form .textarea textarea{
  height: 100%;
  border-radius: 50px;
  resize: none;
  padding: 15px 20px;
  font-size: 16px;
}
.chat-box form .field button{
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  background: -webkit-linear-gradient(left, #fff, #fff);
  transition: all 0.3s ease;
}
.chat-box form .field button:active{
  transform: scale(0.97);
}
 
 
 

.container {
	max-width: 670px;
    max-height: 400px;
    
    margin: auto;
}

img {
	max-width: 100%;
}

.inbox_people {
	background: #f8f8f8 none repeat scroll 0 0;
	float: left;
	overflow: hidden;
	width: 40%;
	border-right: 1px solid #c4c4c4;
}

.inbox_msg {
	border: 1px solid #c4c4c4;
	 
	overflow: hidden;
}

.top_spac {
	margin: 20px 0 0;
}

.channel_heading {
	float: left;
	width: 40%;
}

.srch_bar {
	display: inline-block;
	text-align: right;
	width: 60%;
}

.headind_srch {
	padding: 10px 29px 10px 20px;
	overflow: hidden;
	border-bottom: 1px solid #c4c4c4;
}

.channel_heading h4 {
	color: #05728f;
	font-size: 21px;
	margin: auto;
}

.srch_bar input {
	border: 1px solid #cdcdcd;
	border-width: 0 0 1px 0;
	width: 80%;
	padding: 2px 0 4px 6px;
	background: none;
}

.srch_bar .input-group-addon button {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	padding: 0;
	color: #707070;
	font-size: 18px;
}

.srch_bar .input-group-addon {
	margin: 0 0 0 -27px;
}

.chat_ib h5 {
	font-size: 15px;
	color: #464646;
	margin: 0 0 8px 0;
}

.chat_ib h5 span {
	font-size: 13px;
	float: right;
}

.chat_ib p {
	font-size: 14px;
	color: #989898;
	margin: auto
}

.chat_img {
	float: left;
	width: 11%;
}

.chat_ib {
	float: left;
	padding: 0 0 0 15px;
	width: 88%;
}

.chat_people {
	overflow: hidden;
	clear: both;
}

.chat_list {
	border-bottom: 1px solid #c4c4c4;
	margin: 0;
	padding: 18px 16px 10px;
}

.inbox_chat {
	height: 50px;
	overflow-y: scroll;
}

.active_chat {
	background: #ebebeb;
}

.incoming_msg_img {
	display: inline-block;
	width: 6%;
}

.received_msg {
 
	vertical-align: top;
 }

.received_withd_msg p {
	background: #ebebeb none repeat scroll 0 0;
	border-radius: 3px;
	color: #646464;
	font-size: 14px;
	 
}

.time_date {
	color: #747474;
	display: block;
	font-size: 12px;
	margin: 8px 0 0;
}

.received_withd_msg {
	width: 20%;
}

.mesgs {
 
	padding: 30px 15px 0 105px;
	width: 200%;
}

.sent_msg p {
	background: #fff none repeat scroll 0 0;
	border-radius: 3px;
	font-size: 14px;
	margin: 0;
	color: #1974D2;
	padding: 5px 10px 5px 12px;
	width: 100%;
}


.cdf{
    margin-top: 30px;
margin-left: 200px;
 

 }




.outgoing_msg {
	overflow: hidden;
	margin: 20px 0 20px;
}

.sent_msg {
	float: right;
    margin-right: 50px;
	width: 36%;
}

.input_msg_write input {
    color: #fff;
    background-color: #1974D2;
    font-size: 14px;
   
    min-height: 30px;
    width: 580px;
    padding: 20px;
    min-width: 20px;
    margin-top: 10px;
    border-radius: 10%;
    border-color: white;

    outline: none;
	 
  
}
::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

.type_msg {
	border-top: 1px solid #c4c4c4;
 	



}
.kaj {
	overflow: hidden; /* Hide scrollbars */
  }
.smallcolor{
	color: #F4D03F;
}
.msg_send_btn {
  background-color: #F4D03F;
  margin: auto;
  padding: 1px;
 	border: medium none;
 	color: #fff;
	cursor: pointer;
    

	font-size: 15px;
	min-height: 20px;
	height: 60px;
  padding: 20px;
 
	border-radius: 15%;

	width: 60px;
    min-height: 30px;
  
    min-width: 20px;
    margin-top: 10px;
}

.messaging {
	padding: 0 0 50px 0;
}

.msg_history {
	height: 340px;
	overflow-y: auto;
 	width: 800px;
	 padding-right: 20px;
}

.message {
	list-style-type: none;
	right: 0;
 
}