<app-navprivate></app-navprivate>
<ngx-ui-loader></ngx-ui-loader>
<br>

<div class="mar pad ">

    <div class="card card-frame">
        <div class="card-body">

<form   [formGroup]="profileForm"  (ngSubmit)="onSubmit()"   >
    <div class="form-group">
            <h4>{{'app.Project name'|translate}}<span class="obligatoire">*</span></h4>
            <br>

            <input type="text"  class="form-control w" formControlName="Name" cols="30" rows="2">

            <br>

            <br>
            <small  *ngIf="profileForm.get('Name').invalid && profileForm.get('Name').touched" class="text-danger">{{'app.Name is Required' | translate}}</small>

    </div>
    <div class="form-group">
        <h4>{{'app.Customer email'|translate}}<span class="obligatoire">*</span>
        </h4>
        <br>


        <input type="text"  class="form-control w" formControlName="Email" cols="30" rows="2">

        <br>
        <small  *ngIf="profileForm.get('Email').invalid && profileForm.get('Email').touched" class="text-danger">Email is Required</small>

        <br>

</div>
    <div class="form-group">
        <h4>Description <span class="obligatoire">*</span></h4>
        <br>

        <textarea type="text" class="form-control text-black  w "   formControlName="Description" cols="30" rows="2">
        </textarea>
        <br>

        <br>
        <small  *ngIf="profileForm.get('Description').invalid && profileForm.get('Description').touched" class="text-danger">Description is Required</small>

</div>
<div class="text-center">
    <button type="submit"  [disabled]="profileForm.invalid"  class="btn btn-primary my-4">{{'app.add project'|translate}}</button>
  </div>
</form>
<div class="text-center">
    <button type="button"  routerLink="/dashbored/listprojet" class="btn btn-primary my-4">{{'app.List Project'|translate}}</button>
  </div>
</div>
</div>
</div>
