.mar{
    margin-left: 30px;
}
.pad{
    padding: 60px;
}
.marrigh{
    margin-right: 10px;
}
.maleft{
    margin-left: 10px;
    margin-top: auto;
}
.obligatoire {color: red;}
.w{
    width: 200px;
}